
.header {
    margin-left: auto;
    margin-right: auto;

    border-bottom: 1px solid #ECECEC;

    &__logo {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}
.header__content {
    display: flex;
    align-items: center;
}
.header__logo-color {
    color: $logo-text-color;
}
.header__contacts-icon{
    margin-right: 10px;
} 
.header__contacts-link{
    @extend %style-header-links;
    color: $primary-text-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.header__contacts-list {
    display: flex;
    margin-left: auto;
    gap: 30px;
}
.nav {
    display: flex;
}
.nav__list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}
.nav__link{
    @extend %style-header-links;

    &:hover, 
    &:focus{
        color: $accent-color;
    }
}
.nav__link--current{
    position: relative;
    color: $accent-color;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
    
        width: 100%;
        height: 4px;
    
        background-color: $accent-color;
        border-radius: 4px;
    }
}
