$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$secondary-background-color: #F5F4FA;
$footer-adress-text-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2F303A;
$logo-text-color: #000000;
$icons-other-color: #AFB1B8;
$icons-background-color: rgba(255, 255, 255, 0.1);
$label-background-color: rgba(47, 48, 58, 0.8);
$text-label-portfolio-background-color: rgba(33, 150, 243, 0.9);


$time-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);